# Created by .ignore support plugin (hsz.mobi)


# Allow some files
.idea/*.iws
.idea/workspace.xml
.idea/tasks.xml



#### WARNING #####
# Removal of these sections will result in you being denied access to this repository
# Don't touch these
##################

# Stop people from getting our passwords
InfiniaLegit.config.php

# Do not allow webmail to be uploaded to git
webmail/

# Ban composer from putting trash on GitHub
/vendor/


