// The Infinia CSS File
// Sass is great for generating minified stuff

$font-stack: 'PT Sans', sans-serif;
$alignment: center;

body {
  font: 100% $font-stack;

}

.se-pre-con .center {
  text-align: $alignment;
}

#about {
  #ad {
    font-size: 200%;
    margin: 150% 150% 150% 150%
  }
}
