// The Infinia CSS File
// Sass is great for generating minified stuff

$font-stack: 'PT Sans', sans-serif;
$alignment: center;

body {
  font: 100% $font-stack;

}

.se-pre-con .center {
  text-align: $alignment;
}

#about {
  .ad {
    font-size: 200%;
    margin: 150% 150% 150% 150%

  }
}

#loader-wrapper {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;

}

#loader {
  /* Make the loader visible */
  z-index: 1001;
  font-size: 175%;
}